h2 > saco-icon {
  position: relative;
  top: -0.1rem;
  vertical-align: middle;
}

main {
  padding-top: 0;
}

#output {
  display: block;
  background: #eeeeee;
  border-radius: 8px;
  padding: 50px;
  font-family: IBM Plex Mono, monospace;
  font-size: 12px;
  margin-top: 75px;
  white-space: pre;
  overflow: auto;
}

#icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}

#icons > div {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  padding: 10px 15px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
}

#icons > div:hover {
  background: #1177ff19;
  color: #17f;
}

#icons > div saco-icon {
  height: 20px;
}

#icons > div span {
  letter-spacing: unset;
}

#notifs {
  position: fixed;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 10px;
  bottom: 50px;
  right: 50px;
  user-select: none;
  pointer-events: none;
}

#notifs > * {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  width: fit-content;
  font-size: 14px;
  filter: drop-shadow(0px 0px 10px #00000019);
}

@media screen and (max-width: 500px) {
  #notifs {
    display: none;
  }
}